<div class="logo-title">
    <a href="../Home/home.html">
        <img src="https://static.wixstatic.com/media/fc377c_bc141737e42d475599cd2cb23bdfe8f8.png/v1/fill/w_172,h_172,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fc377c_bc141737e42d475599cd2cb23bdfe8f8.png" alt="Logo" class="logo">
    </a>
    <h1>O Pioneiro do Mondego</h1>
</div>
<nav>
    <ul>
        <li><a href="../Home/home.html">Inicio</a></li>
        <li><a href="../Book/book.html">Reserve</a></li>
        <li><a href="#preço">Preço</a></li>
        <li><a href="#percuso">Percuso</a></li>
        <li><a href="#turismo">Turismo Local</a></li>
        <li><a href="#fotogragia">Fotogragia</a></li>
    </ul>
</nav>