<div class="hd-layer" id="nav-layer" aria-hidden="true">
  <div class="hd-overlay" hidden></div>

  <aside class="hd-drawer" role="dialog" aria-modal="true" aria-labelledby="nav-title" aria-hidden="true">
    <div class="hd-drawer-head">
      <a href="../Home/home.html" class="hd-logo">
        <img src="../Images/Logo.png" alt="">
        <h2 class="hd-brand">O Pioneiro do Mondego</h2>
      </a>
      <button class="icon-btn hd-close" type="button" aria-label="Fechar">✕</button>
    </div>

    <nav class="hd-drawer-nav" role="navigation" aria-label="Menu móvel">
      <a class="hd-link" href="../Home/home.html" aria-current="page" data-i18n="nav.home"></a>
      <a class="hd-link" href="../Book/book.html" aria-current="page" data-i18n="nav.booking"></a>
      <a class="hd-link" href="../Routes/routes.html" aria-current="page" data-i18n="nav.routes"></a>
      <a class="hd-link" href="../Explore/explore.html" aria-current="page" data-i18n="nav.explore"></a>
      <a class="hd-link" href="../Gallery/gallery.html" aria-current="page" data-i18n="nav.gallery"></a>
      <a class="hd-link" href="../FAQ/faq.html" aria-current="page" data-i18n="nav.faq"></a>
    </nav>

    <!-- Idiomas no drawer -->
    <div class="hd-langdrop is-drawer" data-role="langdrop">
      <button class="hd-langdrop-btn" type="button" aria-haspopup="listbox" aria-expanded="false" aria-controls="langmenu-drawer">
        <img class="hd-lang-current" data-current-flag src="../Images/pt.svg" alt="PT" width="20" height="15">
        <span class="hd-lang-code"    data-current-code>PT</span>
        <svg class="hd-chev" width="16" height="16" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" d="M7 10l5 5 5-5z"/></svg>
      </button>
      <ul class="hd-langmenu" id="langmenu-drawer" role="listbox" tabindex="-1" hidden>
        <li role="option"><button type="button" class="hd-langopt" data-lang="pt-PT" data-flag="../Images/pt.svg" data-label="PT">PT <img src="../Images/pt.svg" alt="PT" width="20" height="15"></button></li>
        <li role="option"><button type="button" class="hd-langopt" data-lang="en-GB" data-flag="../Images/en.svg.png" data-label="EN">EN <img src="../Images/en.svg.png" alt="EN" width="20" height="15"></button></li>
        <li role="option"><button type="button" class="hd-langopt" data-lang="es-ES" data-flag="../Images/es.svg" data-label="ES">ES <img src="../Images/es.svg" alt="ES" width="20" height="15"></button></li>
        <li role="option"><button type="button" class="hd-langopt" data-lang="fr-FR" data-flag="../Images/fr.svg" data-label="FR">FR <img src="../Images/fr.svg" alt="FR" width="20" height="15"></button></li>
        <li role="option"><button type="button" class="hd-langopt" data-lang="nl-NL" data-flag="../Images/nl.svg" data-label="NL">NL <img src="../Images/nl.svg" alt="NL" width="20" height="15"></button></li>
      </ul>
    </div>
  </aside>
</div>
