
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playball&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
    max-width: 100vw;
}

:root {
    --blue-font: #1D3F56;
    --yellow-action: #F1B927;
    --blue-button: #0D3252;
    --border-color: #2f536b39;
    --black: #000000;
    --bg: #fff;
    --border-input: #d1d5db;
    --bg-hover: rgba(0, 0, 0, 0.02);
    --red-border: #e63946;

    --fontSizeBase: 16px;
    --fontSizeSmall: 14px;
    --fontSizeLarge: 18px;
}